html,
* {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    font-size: xx-large;
    padding: 10px 0;
}

body {
    width: 80%;
    margin: 10px auto;
}

section {
    width: 20%;
}

#navbar {
    display: inline-block;
    width: 30%;
    height: 600px;
    border-right-style: solid;
    border-right-width: 5px;
    margin-right: 10px;
}

.nav-link {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0;
}

p,
li {
    padding: 10px 0;
    margin: 0;
}

pre {
    background-color: lightgray;
    padding: 20px;
}

@media screen and (max-width: 798px) {
    html {
        margin: 10px 10px;
    }

    body {
        width: 100%;
    }

    #navbar {
        position: relative;
        width: 100%;
        padding: 5px;
        margin: 5px;
        border: none;
    }

    .nav-link {
        position: relative;
        width: 100%;
        padding: 5px;
        margin: 5px;
    }
}
