html,
* {
    margin: 0;
}

header {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    width: 80%;
    margin: 10px auto;
}

#navbar {
    position: relative;
    left: 20px;
}

.nav-link {
    float: left;
}

@media screen and (max-width: 798px) {
    html {
        margin: 10px 10px;
    }

    body {
        width: 100%;
    }
}
