html,
* {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: xx-large;
    padding: 10px 0;
}

body {
    width: 80%;
    margin: 10px auto;
}

#navbar {
    position: relative;
    left: 20px;
}

p,
li {
    padding: 10px 0;
}


pre {
    background-color: lightgray;
    padding: 20px;
}

.nav-link {}

@media screen and (max-width: 798px) {
    html {
        margin: 10px 10px;
    }

    body {
        width: 100%;
    }
}
